<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Demoapp</title>
  <base href="./">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="dist/styles.d41d8cd98f00b204e980.bundle.css" rel="stylesheet"/></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="dist/inline.aad7bb9500f7ce109675.bundle.js"></script>
<script type="text/javascript" src="dist/polyfills.fdc74e8f101f8a37cfda.bundle.js"></script>
<script type="text/javascript" src="dist/vendor.e9b7451dfc3e88609ded.bundle.js"></script>
<script type="text/javascript" src="dist/main.56d465fe59792add34e8.bundle.js"></script></body>
</html>
